<hr>
<div class="container-fluid"></div>
<div class="row justify-content-between">
  <div class="col-lg-4 ">
    Editing:{{planName}}
  </div>
  <div class="col-lg-2 ">
    <button (click)="addColumn(columnName.value);columnName.value=''">SAVE</button>
    <button class="button btn" routerLink="view" >Edit view</button>
  </div>
</div>
<br>
<div class="row editor" >
  <hot-table
    [hotId]="instanceId"
    [data] = "planData" 
    [dataSchema]= "dataSchema"
    [settings]= HOTsettingsObj
    [afterSelection]= "onAfterChange"
    [afterInit]= "afterHotInit"
    [afterLoadData]= afterLoadData
  >
  <hot-column *ngFor="let column of hotColumns"></hot-column>
  </hot-table>
</div>
<div class="container-fluid h-50 d-flex flex-column"></div>