  <button (click)="back()">BACK</button>
  <p>
    <a routerLink="edit">edit</a>
    <a>export</a>
  </p>
  <h1>{{serviceName}}:{{ts}}</h1>
  <p *ngIf="!fetched && !error">Loading...</p>
  <p *ngIf="error">Oops... something went wrong.</p>
  <!--<input #columnName />-->
  <hot-table
  [hotId]="instanceId"
    [data] = "dstvPlan" 
    [dataSchema]= "dataSchema"
    [settings]= HOTsettingsObj
    [afterSelection]= "onAfterChange"
    [afterInit]= "afterHotInit"
    [afterLoadData]= afterLoadData
    >
    <hot-column *ngFor="let column of hotColumns"></hot-column>
 
  </hot-table>