<div class="container-fluid">
      <!--
      <ngb-tabset (tabChange)="onTabChange($event)">
        <ngb-tab *ngFor ="let ts of streams$ | async"
          title="{{ts.name}}">
          <ng-template ngbTabContent>
            <p>This will show {{ts.name}}</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      -->
      <app-editor [planName]="planName"></app-editor>
</div>