<div class="container-fluid">
  <hr>
  <h4>View Editor</h4>
  <div class="row">
    <div class="selection col-lg-3">
      <div class="card">
        <div class="card-header">
          Select preset
        </div>
        <div class="card-body">
            <div class="list-group">
              <ng-container *ngFor="let preset of presetNameList">
                <div class="list-group-item list-group-item-action"
                  [ngClass]="{active : preset.id === currentPreset.id}"
                >
                  <div class="btn-toolbar justify-content-between preset-title"
                    (click) = "onSelectPreset(preset.id)" 
                  >
                      {{preset.preset_name}}
                    <div class="btn-group">
                      <button type="button" class="btn "
                        (click)="onRenamePresetClick(preset.id)">
                        <fa name="edit"></fa>
                      </button>
                      <button type="button" class="btn btn-danger"
                        (click)="onPresetNameDelete(preset.id)">
                        <fa name="trash"></fa>
                      </button>
                    </div>
                  </div>
                  <ng-container *ngIf="showRenameForm(preset.id)">
                      <div class=""> 
                        <input [(ngModel)] = "presetNameDom.preset_name" name="editPresetName"
                          type="text" class="form-control" 
                      placeholder="New preset name">
                        <div class="form-row">
                          <div class="col-5">
                            <button class="form-control btn btn-danger" 
                              (click)="onRenamePresetCancleClick(preset.id)"
                              type="button">
                              Cancle</button>
                          </div>
                          <div class="col-7">
                            <button class="form-control btn " 
                              (click)="onRenamePresetSaveClick(preset.id)"
                              type="button">
                              Save</button>
                          </div>
                        </div>
                      </div>
                  </ng-container>
                </div>
              </ng-container>
              <!-- <a href="#" class="list-group-item list-group-item-action">Preset 2</a>
              <a href="#" class="list-group-item list-group-item-action">Preset 3</a>
              -->
              <a class="list-group-item list-group-item-action "
                *ngIf="!addNewPresetClicked" (click)="onAddNewPresetClick()">
                +Add new preset</a>
              <ng-container *ngIf="addNewPresetClicked">
                <form>
                  <div class="form-control"> 
                    <input [(ngModel)] = "input_newPresetName" name="newPresetName"
                      type="text" class="form-control" 
                      placeholder="New preset name">
                    <div class="form-row">
                      <div class="col-5">
                        <button class="form-control btn btn-danger" 
                          (click)="onAddNewPresetCancleClick()"
                          type="button">
                          Cancle</button>
                      </div>
                      <div class="col-7">
                        <button class="form-control btn btn-primary" 
                          (click)="onAddNewPresetSaveClick()"
                          type="button">
                          Save</button>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-container>
            </div>
        </div>
      </div>
    </div>
    <div class="detail col-lg-4">
      <div class="card" >
        <div class="card-header">
          Preset detail
        </div>
        <div class="card-body">
          <ng-container *ngFor="let value of presetDetailList">
            <ng-container *ngIf="value.checked">
              <span   
                class="badge badge-pill badge-primary selectedHeader">
                <input type="checkbox" value="{{value.id}}" 
                  id="headSelected-{{value.id}}"
                  (click)="onPresetValueChange($event)">
                <label class="preset-value-label">{{value.name}}</label>
              </span>
            </ng-container>
          </ng-container>
          <span>
            <a (click)="addPresetValue()"
              ><fa name="plus"></fa></a>
          </span>
          <div *ngIf="addPresetValueClicked">
            <div *ngFor="let val of presetDetailList" class="form-check form-check-inline">
                <input class="form-check-input" 
                  type="checkbox" value="{{val.id}}" id="headerCheck-{{val.id}}"
                  [checked]="val.checked" (click)="onPresetValueChange($event)">
                <label class="form-check-label" for="header-{{val.name}}">
                  {{val.name}}
                </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="display col-lg-5">
      <p>Display</p>
    </div>
  </div>
</div>