.preset-title{
    line-height: 2;
    cursor: pointer;
}
.preset-value-label{
    margin-bottom: 0;
    line-height: 1.5;
}
.selectedHeader>input{
  position: fixed;
  opacity: 0;
  cursor: pointer;
}
.selectedHeader>label::before{
    color: red;
    font-family: FontAwesome;
    content: "\f1f8";
    font-size: 1.5vh;
    display: inline-block;
    letter-spacing: 5px;
  }

  

