<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button (click)="back()">BACK</button>
    </div>
  </div>
    <ngb-tabset>
      <ngb-tab title="TS1">
        <ng-template ngbTabContent>
          <h1>{{serviceName}}:{{ts}}</h1>
          <p *ngIf="!fetched && !error">Loading...</p>
          <p *ngIf="error">Oops... something went wrong.</p>
          <!--<input #columnName />-->
          <button (click)="addColumn(columnName.value);columnName.value=''">SAVE</button>
          <hot-table
          [hotId]="instanceId"
            [data] = "dstvPlan" 
            [dataSchema]= "dataSchema"
            [settings]= HOTsettingsObj
            [afterSelection]= "onAfterChange"
            [afterInit]= "afterHotInit"
            [afterLoadData]= afterLoadData
            >
            <hot-column *ngFor="let column of hotColumns"></hot-column>
   
          </hot-table>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="TS2">
        <ng-template ngbTabContent>
          <p>This will show CATV</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>